# DB (Để trống sẽ tự động dùng sqlite cho localhost)
# SQLALCHEMY_DATABASE_URI="postgresql://user:password@localhost/minda_db"

# SECRET KEY (Mật khẩu dùng để mã hoá JWT - Yêu cầu bảo mật cấp cao)
# Có thể tự tạo bằng lệnh bash: openssl rand -hex 32
SECRET_KEY="c8b9d311fa9b265bb94bcd257dd15e3c7901b0d2a84d4ae8eb82f1b7f2bb1a54"

# CORS ORIGIN (Cổng Frontend nào được phép gọi API này)
CORS_ORIGINS="http://localhost:3000,http://localhost:5173"

# GEMINI API 
# GEMINI_API_KEY="..."
